* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
}
#interruptor img {
    width: 20vw;
    margin-top: 15vw;
}
#lampada img {
    margin-left: 85%;
    transform: scaleY(-1);
}